<div class="calendar" data-controller="dynamic-daybar" data-dynamic-daybar-start-of-week-value="<%= Date.today.beginning_of_week.strftime('%Y-%m-%d') %>">
  <div class="week-dates" data-dynamic-daybar-target="weekDates">
    <div class="empty-cell"></div>
    <% 7.times do |i| %>
      <div class="date-cell" data-dynamic-daybar-target="dateCell">
        </div>
    <% end %>
  </div>
  <div class="week-grid" data-dynamic-daybar-target="weekGrid">
    <div class="empty-cell"></div>
    <% 7.times do |i| %>
      <div class="day-cell" data-dynamic-daybar-target="dayCell">
        <div class="day-circle">
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="time-calendar" data-controller="time-indicator">
  <% 14.times do |hour| %>
    <%= render "appointments/hour", hour: (hour + 6) %>
  <% end %>

  <%= render "appointments/appointments" %>

  <% if params[:display] != 'week' && is_today?(@day) %>
    <div data-time-indicator-target="line" class="current-time-indicator"></div>
  <% end %>
</div>
