<h1>Création de la relève</h1>

<div class="container">
  <h1>Liste des résumés de la semaine</h1>
  <% @appointments.first(10).each do |appointment| %>
    <div class="card mb-3">
        <h5 class="card-title"><%= appointment.summary %></h5>
    </div>
  <% end %>
</div>
